<html>

<head>
    <%= title %>

</head>

<body>
    <ul>

        <% drinks.forEach(function(item) { %>
            <li>
                <%= item.name %>
            </li>
            <% }); %>

    </ul>

    <a href="/logout">Log Out</a>


</body>

</html>